# (c) Infinite Networks <http://www.infinite.net.au>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.

parameters:
    infinite_form.attachment.path_helper.class: Infinite\FormBundle\Attachment\PathHelper
    infinite_form.attachment.attachment_type.class: Infinite\FormBundle\Form\Type\AttachmentType
    infinite_form.attachment.sanitiser.class: Infinite\FormBundle\Attachment\Sanitiser
    infinite_form.attachment.streamer.class: Infinite\FormBundle\Attachment\Streamer
    infinite_form.attachment.uploader.class: Infinite\FormBundle\Attachment\Uploader
    infinite_form.attachment.save_config: {}
    infinite_form.attachment.default_secret: '%kernel.secret%'
    infinite_form.attachment.entity_manager: ~

services:
    infinite_form.attachment.sanitiser:
        class: '%infinite_form.attachment.sanitiser.class%'

    infinite_form.attachment.uploader:
        class: '%infinite_form.attachment.uploader.class%'
        arguments:
            - '@infinite_form.attachment.sanitiser'
            - '@infinite_form.attachment.path_helper'

    infinite_form.attachment.path_helper:
        class: '%infinite_form.attachment.path_helper.class%'
        arguments:
            - '@infinite_form.attachment.sanitiser'
            - '%infinite_form.attachment.save_config%'

    infinite_form.attachment.streamer:
        class: '%infinite_form.attachment.streamer.class%'
        arguments:
            - '@infinite_form.attachment.sanitiser'
            - '@infinite_form.attachment.path_helper'

    infinite_form.attachment.form_type:
        class: '%infinite_form.attachment.attachment_type.class%'
        arguments:
            - '%infinite_form.attachment.default_secret%'
            - '@doctrine'
            - '@infinite_form.attachment.path_helper'
            - '@infinite_form.attachment.uploader'
        tags:
            - { name: 'form.type', alias: 'infinite_form_attachment' }
