<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/autoload.php.dist"
    backupGlobals               = "false"
     backupStaticAttributes      = "false"
     colors                      = "true"
     convertErrorsToExceptions   = "true"
     convertNoticesToExceptions  = "true"
     convertWarningsToExceptions = "true"
     processIsolation            = "false"
     stopOnFailure               = "false"
     syntaxCheck                 = "false">
    <php>
        <ini name="xdebug.max_nesting_level" value="200" />
        <!-- Disable E_USER_DEPRECATED until reaching compatibility with Symfony 3.0 -->
        <!-- php -r 'echo -1 & ~E_USER_DEPRECATED;' -->
        <ini name="error_reporting" value="-16385"/>
    </php>

    <testsuites>
        <testsuite name="InfiniteFormBundle">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
